.fs-body {
/*css for full size background image*/
	background: url("{{background_image}}") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	height: 100%;
	background-color: #060;
}

.fs-form-signin input[type="text"] {
	margin-bottom: 5px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.fs-form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.fs-form-signin .form-control {
	position: relative;
	font-size: 16px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.fs-vertical-offset-50 {
	padding-top: 50px;
}

.fs-img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	margin: auto;
}

.fs-panel {
	margin-bottom: 20px;
	background-color: rgba(255, 255, 255, 0.75);
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

/*** Overlay desc for media management ***/
.media_overlay_container {
	display: block;
}

.media_overlay a {
	color:white;
}
.media_overlay {
	display: block;
	/*width:310px;*/
	padding:0;
	margin:0;
}
div.media_overlay {
	position:relative; /*important*/
	float:left; /*important*/
	display:inline; /* also important here */
	list-style-type:none;
	/*width:150px;*/
	padding:0;
	margin:10px;
	margin-bottom:10px; /* Seperate each item vertically */
}
div.media_overlay .desc {
	position:absolute; /* Important */
	width:100%; /* Important */
	bottom:0; /* Important */
	left:0;
	background-color:rgba(0, 0, 0, 0.5);
	filter:alpha(opacity=50);
}
div.media_overlay .desc div {
	padding:5px;
	text-align:center;
}
div.media_overlay img {
	vertical-align:top;
	border:1px solid gray; /* or 0px */
}
div.media_overlay:nth-child(even) {
	/*margin-left:5px; /* Seperate each item vertically */
}
div.media_overlay:nth-child(odd) {
	/*margin-right:5px; /* Seperate each item vertically */
}
/* END overlay desc */

footer {
    position: absolute;
    right: 1px;
    top: 1px;
	/* background-color: #3e444c; */
	font-size: 0.75em;
    height: 30px;
    width: 225px;
	color: #c8c8c8;
	opacity: 0.75;
	text-align: right;
	padding: 2px 5px 2px 2px;
}

.quicklist-nav { margin: 8px 15px 0 15px; }
.quicklist-panel-text { color: #777777; }
.quicklist-panel-text a { color: red; }

/* Bootstrap defaults override */
.input-group { margin: 10px 0 10px 0; }

.navbar-brand,
.navbar-nav li a {
    line-height: 20px;
    height: 80px;
    /* padding-top: 10px; */
		margin: auto 0 auto 0;
}

.navbar-brand { padding: 0; }
.navbar-brand>img { padding: 10px; }

/* Center content. */
.col-center{
  margin:0 auto;
}

.banner-link:hover {
	cursor: pointer;
}
