<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="assets/stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" href="assets/stylesheets/slate.bootstrap.min.css" />
	<link rel="stylesheet" href="assets/bower_components/fontawesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="assets/stylesheets/fileinput.min.css" />
  <link rel="stylesheet" href="assets/stylesheets/main.css" />
  <script type="text/javascript" src="assets/javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="assets/javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="assets/javascripts/fileinput.min.js"></script>
  <script type="text/javascript" src="assets/javascripts/papaparse.min.js"></script>
  <script type="text/javascript" src="assets/javascripts/main.js"></script>
</head>
<body class="fs-body">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img alt="Klickrr Quicklist" src="{{logo_img}}" style="height: 70px;" />
          <!--small>{{logo_tagline}}</small-->
        </a>
        <ul class="nav navbar-nav">
          <li style="text-align: center;"><a href="#" id="refresh_btn"><i class="fa fa-refresh quicklist-nav"></i><br/>Reset</a></li>
          <li style="text-align: center;"><a href="#" id="help_btn"><i class="fa fa-question-circle quicklist-nav"></i><br/>Help {{app_name}}</a></li>
          <li id="about_us_nav" style="text-align: center;"><a href="#" id="about_btn"><i class="fa fa-info-circle quicklist-nav"></i><br/>About {{app_name}}</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
      <div class="row" id="banner_section">
        <div class="col-md-12">
          {{banners}}
        </div>
      </div>
      <div class="row fs-vertical-offset-50">
          <div class="col-md-6 col-md-offset-3">
            <div class="fs-panel panel-default" id="about_panel" style="display: none;">
              <div class="panel-heading">
                <button type="button" class="close" aria-label="Close" id="close_about_btn"><span aria-hidden="true">&times;</span></button>
                <h3 class="panel-title">About {{app_name}}</h3>
              </div>
              <div class="panel-body quicklist-panel-text">
                {{about_us}}
              </div>
            </div>

            <div class="fs-panel panel-default" id="help_panel" style="display: none;">
              <button type="button" class="close" aria-label="Close" id="close_help_btn"><span aria-hidden="true">&times;</span></button>
              <div class="panel-heading">
                <h3 class="panel-title">Help Using {{app_name}}</h3>
              </div>
              <div class="panel-body quicklist-panel-text">
                This is how to use the app!
              </div>
            </div>

            <div class="fs-panel panel-default" id="sign_up_pnl">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                    {{sign_up_form}}
                    <button type="button" class="close" aria-label="Close" id="close_subscribe_btn">No thanks, not now.</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="alert alert-danger" role="alert" style="display: none;" id="file_unsupported_alert">
              <i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;The File APIs are not fully supported in this browser.
            </div>
              <div class="fs-panel panel-default">
                  <div class="panel-body">
          					<div class="row">
          						<div class="col-md-12">
                            <label for="" style="color: #777777;">Remove emails <strong><em>IN</em></strong> this .csv/.txt file...</label>&nbsp;&nbsp;<a class="help-icon-a" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Application Title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="fa fa-question-circle help-icon" id="app_title_help"></i></a>
                            <input type="file" id="from_list" class="file" style="width: 100px;" data-show-upload="false" data-show-preview="false" />

                            <div class="panel panel-default" id="radio_cols_panel" style="display: none;">
                              <div class="panel-heading">
                                <h3 class="panel-title">Which column do you want to compare?</h3>
                              </div>
                              <div class="panel-body">
                                <div class="form-group" id="column_radios"></div>
                              </div>
                            </div>
          						</div>

                      <div class="col-md-12">
                        <label for="" style="color: #777777;">...<strong><em>FROM</em></strong> this .csv/.txt file.</label>&nbsp;&nbsp;<a class="help-icon-a" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Application Title" data-content="And here's some amazing content. It's very engaging. Right?"><i class="fa fa-question-circle help-icon" id="app_title_help"></i></a>
                        <input type="file" class="file" id="filter_list" style="width: 100px;" data-show-upload="false" data-show-preview="false" />

                        <div class="panel panel-default" id="filter_cols_panel" style="display: none;">
                          <div class="panel-heading">
                            <h3 class="panel-title">Which column do you want filtered?</h3>
                          </div>
                          <div class="panel-body">
                            <div class="form-group" id="filter_radios"></div>
                          </div>
                        </div>

                        <button type="button" class="btn btn-primary center-block" style="width: 50%;" id="download_btn" disabled><i class="fa fa-filter"></i>&nbsp;&nbsp;Filter & Download</button>
          						</div>
          					</div>
          					  <div class="alert alert-danger" role="alert" id="notifications_div" style="display: none; margin: 10px 0 10px 0;"><i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Creating your .csv file. For large datasets, this may take awhile.</div>
          					  <div class="row" style="margin-top: 20px;">
            						<div class="col-md-12">

            						</div>
          					  </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
</body>
</html>
